################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Real_Quant_Trading/.vs/Real_Quant_Trading/v17/Browse.VC.opendb
